<h2 mat-dialog-title>Save Profile</h2>
<mat-dialog-content class="mat-typography">
  <h2>You can save the current session System Message as a profile to use in future chats</h2>
  <p>Please, chose a Name for the profile. This is usually the character name and, optionally,
     the version of the character description / prompt system message</p>
  <br> 
  <div class="form-inputs">
    <div class="input-group">
        <mat-label style="margin-left: 10px;">Profile name:</mat-label>
        <input class="form-input" matInput type="text" placeholder="..." [(ngModel)]="profileName"/>
      </div>
  </div>
        
  <br>
  <h2>Profile message:</h2>
  <h2>This is the profile message that is about to be stored. Review it carefully since
      this is the message that will be added to the prompt in the first place in every
      single prompt, and cannot be changed once the session begins
  </h2>
    <textarea [disabled]="true" rows="33" cols="156" class="text-area">{{data.systemMessage}}</textarea> 

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="profileName === ''" (click)="onClose()" >Save</button>
</mat-dialog-actions>
