.rounded-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: var(--btn-size);
    height: var(--btn-size);
    margin: var(--btn-margin);
    background-color: var(--btn-color);
    border-color: var(--btn-border-color);
    &:hover{
      background-color: var(--btn-hover) !important;
      .btn-icon{
        color: var(--btn-color) !important;
      }
    }
    
}
.btn-icon{
    display: contents;
    color: var(--icon-color);
    font-size: var(--icon-size);
    padding: 5px 5px 5px 5px;
}

.custom-icon {
    width: 50px;
    height: 50px;
    margin-top: 6px;
    object-fit: contain;
}

.disabled-btn{
    margin:0px 10px 0px 10px;
    color: rgb(219, 219, 219) !important;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(219, 219, 219) !important;
}

.disabled-btn:hover{
    background-color: #ffffff !important;
    border-color: rgb(219, 219, 219) !important;
    border-radius: 100px;
    
    .disabled-icon{
        background-color: #ffffff !important;
        color: rgb(219, 219, 219) !important;
    }
}

.disabled-icon{
    background-color: #ffffff;
    color: rgb(219, 219, 219) !important;
}


// .submit-btn:hover{
//   background-color: var(--submit-btn-hover) !important;
// }