.text-area{
    display: block;
    margin: 10px 10px 10px 10px;
    color: antiquewhite;
    background-color: #262626;
    font-size: 16px;
}

.modal-btn{
    color: antiquewhite !important;
}

.disabled-btn{
    color: #6e6e6e !important;
}

.modal-control{
    padding: 0px 13px 0px 13px;
}

.edit-toggle{
    margin: 18px 0px 0px 30px;
}



