<!-- <mat-accordion class="example-headers-align" multi ></mat-accordion> -->
<form [formGroup]="form">
  <mat-expansion-panel class="form-container" (opened)="onExpanded()" (closed)="onCollapsed()" [expanded]="showSettings">
    <mat-expansion-panel-header>
      <mat-panel-description >
         {{currentModel}}                  
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field style="width: 30%; margin-right: 30px;">
      <mat-label>Diffuser</mat-label>
      <mat-select formControlName="diffuser"class="form-inputs" *ngIf="!isUsingInferenceAPI">
        @for (diffuser of localDiffusers; track diffuser) {
          <mat-option [value]="diffuser">{{diffuser}}</mat-option>
        }
      </mat-select>
      <mat-select formControlName="diffuser" class="form-inputs" *ngIf="isUsingInferenceAPI" (selectionChange)="onDiffuserSelected($event)">
        @for (diffuser of apiDiffusers; track diffuser) {
          <mat-option [value]="diffuser">{{diffuser}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle class="example-margin"[checked]="isUsingInferenceAPI" (change)="onUseApiToggle($event)">Use Inference API</mat-slide-toggle>
    <mat-expansion-panel style="margin-bottom: 3px;">
        <mat-expansion-panel-header>
            <mat-panel-description >
               Inference settings                  
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="form-inputs" >
            <mat-label>Height</mat-label>
            <input matInput type="number" formControlName="height"/>
          </mat-form-field>
          <mat-form-field class="form-inputs" >
            <mat-label>Width</mat-label>
            <input matInput type="number" formControlName="width"/>
          </mat-form-field>
          <mat-form-field class="form-inputs">
            <mat-label>Guidance</mat-label>
            <input matInput type="number" formControlName="guidance"/>
          </mat-form-field>
          <mat-form-field class="form-inputs">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="fileName" placeholder="Name of the generated file | guid if empty"/>
          </mat-form-field>
          <mat-checkbox [checked]="withFileSave" (change)="onFileSaveChange($event)">File save</mat-checkbox>
          <mat-checkbox [checked]="withDbSave" (change)="onDbSaveChange($event)">Db save</mat-checkbox>
          <!-- <mat-form-field class="form-inputs">
            <mat-label>Seed</mat-label>
            <input matInput type="number" formControlName="seed"/>
          </mat-form-field> -->
          <mat-form-field class="form-inputs" *ngIf="!isUsingInferenceAPI" >
            <mat-label>Steps</mat-label>
            <input matInput type="number" formControlName="inferenceSteps"/>
          </mat-form-field>
          <mat-form-field class="form-inputs" *ngIf="!isUsingInferenceAPI" >
            <mat-label>Generated copies</mat-label>
            <input matInput type="number" formControlName="generatedItems"/>
          </mat-form-field>
          <mat-form-field class="form-inputs tag-input" *ngIf="withDbSave">
            <mat-label>Db Tag</mat-label>
            <input matInput type="text" formControlName="tag"/>
          </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin-top: 3px;">
        <mat-expansion-panel-header>
            <mat-panel-description >
               Prompt message                  
            </mat-panel-description>
          </mat-expansion-panel-header>
          <textarea #promptbox  rows="18" cols="130" class="text-area" placeholder="Enter prompt...">{{currentPromptMsg}}</textarea>
    </mat-expansion-panel>
    <div class="submit-btn-container">
        <button mat-raised-button class="submit-btn"  [ngClass]="{'submit-btn-disabled': isGenerating}" (click)="onPrompt()"[disabled]="isGenerating">
            <div class="w-100 h-100 flex jc-center ai-center padding-6 absolute">
              <mat-spinner *ngIf="isGenerating" diameter="32"></mat-spinner>
            </div>
            <span>Generate</span>
          </button>
    </div>
  </mat-expansion-panel>
</form>
<div class="img-container">
    <img *ngIf="!isGenerating"class="gen-img shadow" [src]="imageSource" alt="Image Source">
    <div *ngIf="isGenerating" class="w-100 h-100 flex jc-center ai-center padding-6 absolute">
      <mat-spinner *ngIf="isGenerating" diameter="90"></mat-spinner>
    </div>
</div>