.title-container{
    margin-top: 9px;
    margin-left: 7px;
}
.title-row{
    font-size: 17px !important;
    font-weight: 600 !important;
    line-height: 1.2;
    color: rgb(126, 9, 9)
}
.logo{
    height: 78px;
}