<app-nft-visor 
    [assets]=assets 
    [nftCardButtonsConfig]="nftCardButtonsConfig"
    [disabled]="loading" 
    (onCardButtonClick)="onCardButtonClicked($event)"
    [projectedButtonsTemplate]="sellButton">
    <ng-template #sellButton>  
        <app-rounded-button 
                    [id]="'sell'"
                    [iconName]="'payment'"
                    [hoverColor]="'var(--secondary-btn-hover)'"
                    [borderColor]="'var(--secondary-btn-border)'"
                    [disabled]="loading"
                    >
        </app-rounded-button>
    </ng-template>
</app-nft-visor>