<div class="card-container">
  <p *ngIf="assets.length >= 4" style="display: flex; justify-content: center; align-items: center;margin:15px 0px 0px 5px">
    <button class="skip-l-btn" (click)="onSlideViewClick('left')" [ngClass]="{'disabled-btn': assets.length <= 4 }" [disabled]="assets.length <= 4" 
        (mousedown)="onSlideViewPress('left')" (mouseup)="onSlideViewRelease()">
        <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
            [ngClass]="{'disabled-icon': assets.length <= 4 }"
            aria-hidden="false" 
            aria-label="Collections sidenav view"
            fontIcon="skip_previous"
        ></mat-icon>
    </button>
</p>
  <div #nftsContainer class="img-container shadow" [ngClass]="{'jc-center': assets.length <= 4}">
      @for(model of assets; track model){
          <mat-card class="game-card" appearance="outlined">
              <mat-card-header class="card-header">
                  <div style="display: flex; align-items: center; justify-items: flex-start;">
                      <div mat-card-avatar class="game-card-header-image" [ngStyle]="{'background-image': getModelCollectionLogoUrl(model)}"></div>
                  </div>
                  <div style="display: flexbox; align-items: center;">
                      <mat-card-title class="game-card-title">{{model.name}}</mat-card-title>
                      <mat-card-subtitle class="game-card-subtitle">{{model.description}}</mat-card-subtitle>
                  </div>
              </mat-card-header>
              <div class="card-body">
                  <img mat-card-image class="game-card-image" [src]="model.imageUrl" alt="Character NFT image">
              </div>
              <mat-card-actions class="game-card-actions">
                   <button class="view-btn" (click)="onViewClick(model)">
                      <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                      aria-hidden="false" 
                      aria-label="Example power icon"
                      fontIcon="visibility"
                      ></mat-icon>
                   </button>
                  
               <button class="view-btn" (click)="onSelectClick(model)">
                  <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                  aria-hidden="false" 
                  aria-label="Example power icon"
                  fontIcon="check"
                  ></mat-icon>
               </button>
              </mat-card-actions>
          </mat-card>
      }
  </div>
  <p *ngIf="assets.length >= 4" style="display: flex; align-items: center; margin:15px 5px 0px 0px">
      <button class="skip-r-btn" (click)="onSlideViewClick('right')" [ngClass]="{'disabled-btn': assets.length <= 4 }" [disabled]="assets.length <= 4"
          (mousedown)="onSlideViewPress('right')" (mouseup)="onSlideViewRelease()">
          <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
          [ngClass]="{'disabled-icon': assets.length <= 4 }"
              aria-hidden="false" 
              aria-label="Collections sidenav view"
              fontIcon="skip_next"
          ></mat-icon>
      </button>
  </p>
</div>