<div class="card-container">
    <div class="img-container shadow">
        <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="char-card-header-image-1"></div>
              <mat-card-title class="game-card-title">Character 1</mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Choose your own adventure style quest</mat-card-subtitle>
            </mat-card-header>
            <div class="card-body">
                <img mat-card-image class="game-card-image" src="/assets/images/Char_1.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="game-card-content">
                  <p>
                    In Quest Mode you can play an adventure in a random world with your selected character. The genre of the story
                    and the generated lore depends on your selected character and your the settings you choose at the beginning
                    of the adventure.
                  </p>
                  <p>
                    In this mode all the adventures begin in a tavern of the generated world, where you will be able to start different
                    quests with the guidance of the AI Game Master.
                    <br>
                    The game follows a 'Choose your own adventure' style in which the Game Master will present you an scenario with 
                    up to four possible actions to choose from and progress in your
                    story in order to complete your Quest and save your progression or die trying!  
                  </p>
                </mat-card-content>
            </div>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onCharSelect('Char_1')">SELECT</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="char-card-header-image-2"></div>
              <mat-card-title class="game-card-title">Character 2</mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Choose your own adventure style quest</mat-card-subtitle>
            </mat-card-header>
            <div class="card-body">
                <img mat-card-image class="game-card-image" src="/assets/images/Char_2.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="game-card-content">
                  <p>
                    In Quest Mode you can play an adventure in a random world with your selected character. The genre of the story
                    and the generated lore depends on your selected character and your the settings you choose at the beginning
                    of the adventure.
                  </p>
                  <p>
                    In this mode all the adventures begin in a tavern of the generated world, where you will be able to start different
                    quests with the guidance of the AI Game Master.
                    <br>
                    The game follows a 'Choose your own adventure' style in which the Game Master will present you an scenario with 
                    up to four possible actions to choose from, and progress in your
                    story in order to complete your Quest and save your progression or die trying!  
                  </p>
                </mat-card-content>
            </div>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onCharSelect('Char_2')">SELECT</button>
            </mat-card-actions>
          </mat-card>      
          <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="char-card-header-image-3"></div>
              <mat-card-title class="game-card-title">Character 3</mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Choose your own adventure style quest</mat-card-subtitle>
            </mat-card-header>
            <div class="card-body">
                <img mat-card-image class="game-card-image" src="/assets/images/Char_3.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="game-card-content">
                  <p>
                    In Quest Mode you can play an adventure in a random world with your selected character. The genre of the story
                    and the generated lore depends on your selected character and your the settings you choose at the beginning
                    of the adventure.
                  </p>
                  <p>
                    In this mode all the adventures begin in a tavern of the generated world, where you will be able to start different
                    quests with the guidance of the AI Game Master.
                    <br>
                    The game follows a 'Choose your own adventure' style in which the Game Master will present you an scenario with 
                    up to four possible actions to choose from, and progress in your
                    story in order to complete your Quest and save your progression or die trying!  
                  </p>
                </mat-card-content>
            </div>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onCharSelect('Char_3')">SELECT</button>
            </mat-card-actions>
          </mat-card> 
    </div>
</div>