<div class="card-container">
    <div style="display:grid; align-items: center;">
        <div class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="'flex-start'">
            <ng-content select=".upper-buttons-l"></ng-content>
            <div style="margin-top: 5px">
                <app-rounded-button
                    [id]="'view-type'"
                    [iconName]="'select_all'"
                    [hoverColor]="'var(--terciary-btn-hover)'"
                    [borderColor]="'var(--terciary-btn-border)'"
                    [disabled]="disabled"
                    (onClickEvent)="switchVisualization()">
                </app-rounded-button>
            </div>
        </div>
        <div *ngIf="assets.length >= 4" class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="skipButtonsPosition">
            <app-rounded-button 
                [id]="'skip_btn_left'"
                [iconName]="'skip_previous'"
                [iconColor]="'var(--primary-btn-hover)'"
                [backgroundColor]="'var(--primary-btn-color)'"
                [hoverColor]="'var(--primary-btn-hover)'"
                [borderColor]="'var(--primary-btn-border)'"
                [disabled]="assets.length <= 4"
                (onClickEvent)="onSlideViewClick('left')"
                (onMousedownEvent)="onSlideViewPress($event)"
                (onMouseupEvent)="onSlideViewRelease()">
            </app-rounded-button>
        </div>
        <div class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="'flex-end'">
            <ng-content select=".lower-buttons-l"></ng-content>
        </div>
    </div>
  <div #nftsContainer class="img-container shadow" [style.--view-type]="viewType">
      @for(model of assets; track model){
        <app-nft-card 
            [model]="model" 
            [cardButtons]="nftCardButtonsConfig"
            [disabled]="disabled" 
            (onCardButtonClick)="onCardButtonClicked($event)">
            <ng-container class="projected-buttons">
                <ng-container *ngTemplateOutlet="projectedButtonsTemplate context: { $implicit: model, model: model }"></ng-container>
            </ng-container>
        </app-nft-card>
      }
  </div>
    <div style="display:grid; align-items: center;">
        <div class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="'flex-start'">
            <ng-content select=".upper-buttons-r"></ng-content>
        </div>
        <div *ngIf="assets.length >= 4" class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="skipButtonsPosition">
            <app-rounded-button 
                [id]="'skip_btn_right'"
                [iconName]="'skip_next'"
                [iconColor]="'var(--primary-btn-hover)'"
                [backgroundColor]="'var(--primary-btn-color)'"
                [hoverColor]="'var(--primary-btn-hover)'"
                [borderColor]="'var(--primary-btn-border)'"
                [disabled]="assets.length <= 4"
                (onClickEvent)="onSlideViewClick('right')"
                (onMousedonwEvent)="onSlideViewPress('right')"
                (onMouseupEvent)="onSlideViewRelease()">
                </app-rounded-button>
        </div>
        <div class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="'flex-end'">
            <ng-content select=".lower-buttons-r"></ng-content>
        </div>
    </div>
</div>