<div class="card-container">
    <div style="display:block; align-items: center; max-height: 87vh;">
        <div class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="'flex-start'">
            <div class="btns-grid-cell" [style.--content-position]="'flex-start'">
                <ng-content select=".upper-buttons-l"></ng-content>
                <div style="margin-top: 5px">
                    <app-rounded-button
                        [id]="'view-type'"
                        [iconName]="'select_all'"
                        [hoverColor]="'var(--terciary-btn-hover)'"
                        [borderColor]="'var(--terciary-btn-border)'"
                        [disabled]="disabled"
                        (onClickEvent)="switchVisualization()">
                    </app-rounded-button>
                </div>
            </div>
        </div>
        <div *ngIf="assets.length > 4" class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="skipButtonsPosition">
            <div class="btns-grid-cell"  [style.--content-position]="'center'">
                <app-rounded-button  *ngIf="visualization === 'row'"
                [id]="'skip_btn_left'"
                [iconName]="'skip_previous'"
                [iconColor]="'var(--primary-btn-hover)'"
                [backgroundColor]="'var(--primary-btn-color)'"
                [hoverColor]="'var(--primary-btn-hover)'"
                [borderColor]="'var(--primary-btn-border)'"
                [disabled]="assets.length <= 4"
                (onClickEvent)="onSlideViewClick('left')"
                (onMousedownEvent)="onSlideViewPress('left')"
                (onMouseupEvent)="onSlideViewRelease()">
            </app-rounded-button>
            </div>
        </div>
        <div class="skip-buttons-wrapper skip-btn-margin-l" [style.--skip-btns-position]="'flex-end'">
            <div class="btns-grid-cell" [style.--content-position]="'flex-end'">
                <ng-content select=".lower-buttons-l"></ng-content>
            </div>
        </div>
    </div>
  <div #nftsContainer class="img-container shadow" [style.--view-type]="viewType" [style.--vertical-scroll]="screenScroll">
      @for(model of assets; track model){
        <app-nft-card 
            [model]="model" 
            [cardButtons]="nftCardButtonsConfig"
            [disabled]="disabled" 
            (onCardButtonClick)="onCardButtonClicked($event)">
            <ng-container class="projected-buttons">
                @for(template of projectedButtonsTemplate; track template){
                    <ng-container *ngTemplateOutlet="template context: { $implicit: model, model: model }"></ng-container>
                }
            </ng-container>
        </app-nft-card>
      }
  </div>
    <div style="display:block; align-items: center; max-height: 87vh;">
        <div class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="'flex-start'">
            <div class="btns-grid-cell" [style.--content-position]="'flex-start'">
                <ng-content select=".upper-buttons-r"></ng-content>
            </div>
        </div>
        <div *ngIf="assets.length > 4" class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="skipButtonsPosition">
            <div class="btns-grid-cell" [style.--content-position]="'center'">
                <app-rounded-button *ngIf="visualization === 'row'"
                    [id]="'skip_btn_right'"
                    [iconName]="'skip_next'"
                    [iconColor]="'var(--primary-btn-hover)'"
                    [backgroundColor]="'var(--primary-btn-color)'"
                    [hoverColor]="'var(--primary-btn-hover)'"
                    [borderColor]="'var(--primary-btn-border)'"
                    [disabled]="assets.length <= 4"
                    (onClickEvent)="onSlideViewClick('right')"
                    (onMousedownEvent)="onSlideViewPress('right')"
                    (onMouseupEvent)="onSlideViewRelease()">
                </app-rounded-button>
            </div>
        </div>
        <div class="skip-buttons-wrapper skip-btn-margin-r" [style.--skip-btns-position]="'flex-end'">
            <div class="btns-grid-cell" [style.--content-position]="'flex-end'">
                <ng-content select=".lower-buttons-r"></ng-content>
            </div>
        </div>
    </div>
</div>