<div class="card-container">
    <div style="display:flex; align-items: center;">
        <div *ngIf="assets.length >= 4" style="display: flex; justify-content: center; align-items: center;margin:15px 0px 0px 5px">
            <app-rounded-button 
                [id]="'skip_btn_left'"
                [iconName]="'skip_previous'"
                [iconColor]="'var(--primary-btn-hover)'"
                [backgroundColor]="'var(--primary-btn-color)'"
                [hoverColor]="'var(--primary-btn-hover)'"
                [borderColor]="'var(--primary-btn-border)'"
                [disabled]="assets.length <= 4"
                (onClickEvent)="onSlideViewClick('left')"
                (onMousedownEvent)="onSlideViewPress($event)"
                (onMouseupEvent)="onSlideViewRelease()">
            </app-rounded-button>
        </div>
    </div>
  <div #nftsContainer class="img-container shadow" [ngClass]="{'jc-center': assets.length <= 4}">
      @for(model of assets; track model){
        <app-nft-card 
            [model]="model" 
            [cardButtons]="nftCardButtonsConfig"
            [disabled]="disabled" 
            (onCardButtonClick)="onCardButtonClicked($event)">
            <ng-container class="projected-buttons">
                <ng-container *ngTemplateOutlet="projectedButtonsTemplate"></ng-container>
            </ng-container>
        </app-nft-card>
      }
  </div>
    <div style="display:flex; align-items: center;">
        <div *ngIf="assets.length >= 4" style="display: flex; align-items: center; margin:15px 5px 0px 0px">
        <app-rounded-button 
            [id]="'skip_btn_right'"
            [iconName]="'skip_next'"
            [iconColor]="'var(--primary-btn-hover)'"
            [backgroundColor]="'var(--primary-btn-color)'"
            [hoverColor]="'var(--primary-btn-hover)'"
            [borderColor]="'var(--primary-btn-border)'"
            [disabled]="assets.length <= 4"
            (onClickEvent)="onSlideViewClick('right')"
            (onMousedonwEvent)="onSlideViewPress('right')"
            (onMouseupEvent)="onSlideViewRelease()">
            </app-rounded-button>
        </div>
    </div>
</div>