.img-container{
    width: 90%;
    height: 100%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    min-height: 87.5vh;
    max-height: 100vh;
    align-items: center;
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card-container{
    display: flex !important;
    justify-content: center;
}


.card-body{
    display: flex;
    justify-content: center;
    height: 81%;
}
.card-header{
    height: 12%;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .col-sel-div{
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

.col-sel-btn{
    height: 59%;
    margin:0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(175 239 24) !important;
}

.col-sel-btn:hover{
    border: transparent;
    border-radius: 100px;
    padding:0px 8px 0px 8px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}

.disabled-btn{
    margin:0px 10px 0px 10px;
    color: rgb(219, 219, 219) !important;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(219, 219, 219) !important;
}

.disabled-btn:hover{
    background-color: #ffffff !important;
    border-color: rgb(219, 219, 219) !important;
    border-radius: 100px;
    
    .disabled-icon{
        background-color: #ffffff !important;
        color: rgb(219, 219, 219) !important;
    }
}

.disabled-icon{
    background-color: #ffffff;
    color: rgb(219, 219, 219) !important;
}
