<div class="card-container">
    <div class="img-container shadow">
        <div class="background-img"></div>
        <div class="expandable-l " >
            <div class="btn-slot">
                <button mat-stroked-button class="expand-btn" (click)="onOpenBtnClick('left')">
                    <mat-icon 
                        [ngClass]="{'left-btn-icon': panelStateL === 'hidden'}"
                        style="color: #ffffff; size: 10px;"
                        aria-hidden="false" 
                        aria-label="Example power icon" 
                        fontIcon="keyboard_arrow_right"
                  ></mat-icon>
                </button>
            </div>
            <div class="char-display" [@panelStateL]="panelStateL" [ngStyle]="{'background-image': charImageUrl}"></div>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="game-card-header-image" [ngStyle]="{'background-image': gameData.selectedCharacter.collectionLogoUrl}"></div>
              <mat-card-title class="game-card-title">Random Quest </mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Progress in your story with the right choice. -- {{gameData.gameStatus}}</mat-card-subtitle>
            </mat-card-header>
            
            
            <mat-card-content class="game-card-content">
                <div class="text-container">
                    <textarea #scenebox class="text-area">{{sceneText}}</textarea>
                </div>
                <mat-divider style="margin: 10px 15px 5px 25px; color:#74fa26" vertical="false"></mat-divider>
                <div class="loading">
                    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
                    <mat-icon 
                        *ngIf="!isLoading && !hasFinishedQuest"
                        style="color: #b5f02b; font-size: 50px !important; height: 50px !important; width: 50px !important;"
                        aria-hidden="false" 
                        aria-label="Play icon" 
                        fontIcon="play_circle_fill"
                  ></mat-icon>
                  <ng-container *ngIf="!isLoading && hasFinishedQuest" [ngSwitch]="gameData.gameStatus">
                    <mat-icon  *ngSwitchCase="'COMPLETED'"
                        style="color: #b5f02b; font-size: 50px !important; height: 50px !important; width: 50px !important;"
                        aria-hidden="false" 
                        aria-label="Play icon" 
                        fontIcon="mood"
                    ></mat-icon>
                    <mat-icon  *ngSwitchCase="'FAILED'"
                        style="color: #b5f02b; font-size: 50px !important; height: 50px !important; width: 50px !important;"
                        aria-hidden="false" 
                        aria-label="Play icon" 
                        fontIcon="mood_bad"
                    ></mat-icon>
                    <mat-icon *ngSwitchCase="'UNCERTAIN'"
                        style="color: #b5f02b; font-size: 50px !important; height: 50px !important; width: 50px !important;"
                        aria-hidden="false" 
                        aria-label="Play icon" 
                        fontIcon="sentiment_neutral"
                    ></mat-icon>
                  </ng-container>
                  
                </div>
                
                <div *ngIf="currentBlock" class="choices-table">
                    <table mat-table [dataSource]="currentChoices" class="mat-elevation-z8 demo-table">
                       
                        <!-- Name Column -->
                        <ng-container matColumnDef="choices">
                          <th mat-header-cell *matHeaderCellDef>Choices</th>
                          <td mat-cell *matCellDef="let element">{{element}}</td>
                        </ng-container>
                        <!-- <tr mat-header-row *matHeaderRowDef="['choices']"></tr> -->
                        <tr
                            mat-row
                            (click)="selectedChoice = row"
                            [class.demo-row-is-clicked]="selectedChoice === row"
                            *matRowDef="let row; columns: ['choices'];"
                        ></tr>
                      </table>
                </div>
            </mat-card-content>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onSubmit()" [disabled]="currentBlock && sceneText !== currentBlock.scene">{{btnTxt}}</button>
            </mat-card-actions>
        </mat-card>
        <mat-divider vertical="true"></mat-divider>
        <div class="expandable-r">
            <div class="actions-display" [@panelStateR]="panelStateR">
                <app-side-bar #sideBar [width]="'100%'" [config]="actionsBarConfig" (onSelect)="onMenuSelect($event)"></app-side-bar>
            </div>
            <div class="btn-slot">
                <button mat-stroked-button class="expand-btn" (click)="onOpenBtnClick('right')">
                    <mat-icon 
                        [ngClass]="{'right-btn-icon-open': panelStateR === 'visible'}"
                        style="color: #ffffff; size: 10px;"
                        aria-hidden="false" 
                        aria-label="Example power icon" 
                        fontIcon="keyboard_arrow_right"
                  ></mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>


