<div class="card-container">
    <div class="img-container shadow">
        <div class="background-img"></div>
        <div class="expandable-l " >
            <div class="btn-slot">
                <button mat-stroked-button class="expand-btn" (click)="onOpenBtnClick('left')">
                    <mat-icon 
                        [ngClass]="{'left-btn-icon': panelStateL === 'hidden'}"
                        style="color: #ffffff; size: 10px;"
                        aria-hidden="false" 
                        aria-label="Example power icon" 
                        fontIcon="keyboard_arrow_right"
                  ></mat-icon>
                </button>
            </div>
            <div class="char-display" [@panelStateL]="panelStateL"></div>
            
            <!-- <img mat-card-image class="char-display" src="/assets/images/Char_1.png" alt="Photo of a Shiba Inu"> -->
        </div>
        <mat-divider vertical="true"></mat-divider>
        <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="game-card-header-image"></div>
              <mat-card-title class="game-card-title">Random Quest </mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Progress in your story with the right choice</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="game-card-image" src="/assets/images/City_1.png" alt="Photo of a Shiba Inu">
            <mat-card-content class="game-card-content">
              <p>
                In Quest Mode you can play an adventure in a random world with your selected character. The genre of the story
                and the generated lore depends on your selected character and your the settings you choose at the beginning
                of the adventure.
              </p>
              <p>
                In this mode all the adventures begin in a tavern of the generated world, where you will be able to start different
                quests with the guidance of the AI Game Master.
                <br>
                The game follows a 'Choose your own adventure' style in which the Game Master will present you an scenario with 
                up to four possible actions to choose from, and progress in your
                story in order to complete your Quest and save your progression or die trying!  
              </p>
            </mat-card-content>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onSubmit()">SUBMIT</button>
            </mat-card-actions>
        </mat-card>
        <mat-divider vertical="true"></mat-divider>
        <div class="expandable-r">
            <div class="actions-display" [@panelStateR]="panelStateR">
                <p>[...Main Screen]</p>
                <p> [... World Lore inspector with actions (General, Locations Characters and Whatever)]</p>
                <p> [... Default actions? (Home, Inventory, X...)</p>
                <p> A medid a que se van seleccionando se van pintando en la textarea los datos</p>
            </div>
            <div class="btn-slot">
                <button mat-stroked-button class="expand-btn" (click)="onOpenBtnClick('right')">
                    <mat-icon 
                        [ngClass]="{'right-btn-icon-open': panelStateR === 'visible'}"
                        style="color: #ffffff; size: 10px;"
                        aria-hidden="false" 
                        aria-label="Example power icon" 
                        fontIcon="keyboard_arrow_right"
                  ></mat-icon>
                </button>
            </div>
        </div>
        <!-- <div class="main-widget">
            <div class="expandable-l">
                <mat-accordion multi="true" class="accordion-l">
                    <mat-expansion-panel class="expansion-panel-l">
                      <mat-expansion-panel-header>
                
                        <mat-panel-description>
                          Some description
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="panel-content-l">
                        <p><strong>Panel Content</strong>If you ask Chuck Norris what time it is, he always says, "Two seconds 'til." After you ask, "Two seconds 'til what?" he roundhouse kicks you in the face, The quickest way to a man's heart is with Chuck Norris' fist Even corn flakes become deadly weapons in the hands of Chuck Norris.</p>
                        <p>More content</p>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>  
            </div>
            <mat-card class="game-card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="game-card-header-image"></div>
                  <mat-card-title class="game-card-title">Random Quest </mat-card-title>
                  <mat-card-subtitle class="game-card-subtitle">Progress in your story with the right choice</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="game-card-image" src="/assets/images/City_1.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="game-card-content">
                  <p>
                    In Quest Mode you can play an adventure in a random world with your selected character. The genre of the story
                    and the generated lore depends on your selected character and your the settings you choose at the beginning
                    of the adventure.
                  </p>
                  <p>
                    In this mode all the adventures begin in a tavern of the generated world, where you will be able to start different
                    quests with the guidance of the AI Game Master.
                    <br>
                    The game follows a 'Choose your own adventure' style in which the Game Master will present you an scenario with 
                    up to four possible actions to choose from, and progress in your
                    story in order to complete your Quest and save your progression or die trying!  
                  </p>
                </mat-card-content>
                <mat-card-actions class="game-card-actions">
                  <button mat-stroked-button class="begin-btn" (click)="onSubmit()">SUBMIT</button>
                </mat-card-actions>
              </mat-card>
            <div class="expandable-r">
                <mat-accordion multi="true" class="accordion-r">
                    <mat-expansion-panel class="expansion-panel-r">
                      <mat-expansion-panel-header>
                
                        <mat-panel-description>
                          Some description
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="panel-content-r">
                        <p><strong>Panel Content</strong>If you ask Chuck Norris what time it is, he always says, "Two seconds 'til." After you ask, "Two seconds 'til what?" he roundhouse kicks you in the face, The quickest way to a man's heart is with Chuck Norris' fist Even corn flakes become deadly weapons in the hands of Chuck Norris.</p>
                        <p>More content</p>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>  
            </div>
        </div> -->
        
    </div>
</div>


