.img-container{
    width: 97%;
    height: 100%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    min-height: 87.5vh;
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.card-container{
    display: flex !important;
    justify-content: center;
}

.game-card {
    width: 23%; //45% x 2 nfts //if NFTs = 1 [NgClass] --> justify-content:center en parent (desactivado por scrollbox)
    height: 80vh;
    margin: 10px 10px 5px 10px;
    border-radius: 15px !important;
  }
  
.game-card-image{
    border-radius: 15px !important;
    margin: 10px 15px 5px 15px;
    height: 98%;
    width: 88%
  }
.game-card-content{
    color:#6b6b6c;
    font-size:13px;
}
.begin-btn{
    width: 20%;
    color: #99c531 !important;
    border-color: rgb(175 239 24) !important;
}
.begin-btn:hover{
    width: 20%;
    color: #ffffff !important;
    border-color: rgb(245, 247, 243) !important;
    background-color: #99c531 !important;
}
.game-card-actions{
    justify-content: center;
    align-items: center;
    height: 8%;
}

.game-card-title{
    color:#99c531;
}
.game-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 300;
}

.card-body{
    display: flex;
    justify-content: center;
    height: 80%;
}
.card-header{
    height: 12%;
}