.img-container{
    width: 97%;
    height: 100%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    min-height: 87.5vh;
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.card-container{
    display: flex !important;
    justify-content: center;
}

.game-card {
    width: 23%; //45% x 2 nfts //if NFTs = 1 [NgClass] --> justify-content:center en parent (desactivado por scrollbox)
    height: 80vh;
    margin: 10px 10px 5px 10px;
    border-radius: 15px !important;
  }
.game-card-header-image{
    background-size: cover;
    margin-right: 16px;
    margin-bottom: 20px !important;
  }
.game-card-image{
    border-radius: 15px !important;
    margin: 10px 15px 5px 15px;
    height: 98%;
    width: 88%
  }
.game-card-content{
    color:#6b6b6c;
    font-size:13px;
}
.sold-color{
    color: #dbbd0e!important;
}
.sold-btn{
    width: 20%;
    color: #dbbd0e !important;
    border-color: rgb(224, 191, 1) !important;
}
.sold-btn:hover{
    width: 20%;
    color: #ffffff !important;
    border-color: rgb(245, 247, 243) !important;
    background-color: #d8bb00 !important;
}
.game-card-actions{
    justify-content: center;
    align-items: center;
    height: 7%;
}
.game-card-title{
    color:#99c531;
}
.game-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 300;
}
.collection-card-title{
    color:#99c531;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.collection-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 100;
    font-size: 11px;
}
.collection-card-content{
    margin: 5px 2px 5px 2px;
    color: #99c531;
    font-weight: 200;
    font-size: 14px;
}
.payment-card-content{
    margin: 5px 2px 5px 2px;
    color: #99c531;
    font-weight: 200;
    font-size: 14px;
    display:flex;
    flex-direction: column;
}
.tokens-radio-group{
    display: flex;
    flex-direction: column;
}
.pay-btn{
    width: 20%;
    color: #99c531 !important;
    border-color: rgb(175 239 24) !important;
}
.token-selector{
    --mdc-radio-selected-icon-color:#ffd740 !important;
    --mdc-radio-selected-hover-icon-color: #ffd740 !important;
}
.mat-mdc-menu-content{
    padding: 0px 0 !important;
}
.card-body{
    display: flex;
    justify-content: center;
    height: 81%;
}
.card-header{
    height: 12%;

}

.collection-card {
    max-width: 420px;
}
.col-details-btn{
margin: 0px 10px 0px 10px;
border-radius: 100px;
background-color: #ffffff;
border-color: rgb(175 239 24) !important;
}

.col-details-btn:hover{
    border: transparent;
    border-radius: 100px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}
.buy-btn{
    margin: 0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(239, 217, 24) !important;
    }
    
.buy-btn:hover{
    border: transparent;
    border-radius: 100px;
    background-color: #dbbd0e;
    .mat-icon{
        color: #ffffff !important;
    }
}
.view-btn{
    margin: 0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(175 239 24) !important;
}

.view-btn:hover{
    border: transparent;
    border-radius: 100px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}