
<div class="card-container">  
    <div class="chat-container shadow">
        <mat-accordion multi >
            <mat-expansion-panel (opened)="onExpanded()" (closed)="onCollapsed()" [expanded]="showSettings">
              <mat-expansion-panel-header>
                <mat-panel-description *ngIf="currentSession === null">
                   {{currentModel}}                  
                </mat-panel-description>
                <mat-panel-description *ngIf="currentSession !== null">
                  {{currentModel}} :: {{currentSession.tag}}                 
               </mat-panel-description>
               <button *ngIf="isSessionOn" class="end-session-btn" (click)="onPowerIconClick()" [disabled]="isStreamingOn">
                  <mat-icon *ngIf="!isStreamingOn"
                  aria-hidden="false" 
                  aria-label="Example power icon" 
                  fontIcon="exit_to_app"
                  [ngClass]="{'red' : isSessionOn} "
                  ></mat-icon>
                  <mat-spinner *ngIf="isStreamingOn" diameter="20"></mat-spinner>            
               </button>
               <mat-icon class="power-icon" 
               aria-hidden="false" 
               aria-label="Example power icon" 
               fontIcon="power"
               [ngClass]="{'red' : !isSessionOn, 'green' : isSessionOn} "
               ></mat-icon>
              </mat-expansion-panel-header>
              <mat-form-field>
                <mat-label>Temperature</mat-label>
                <input matInput type="number" value="2.0"/>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Max Tokens</mat-label>
                <input matInput type="number" value="600"/>
              </mat-form-field>
              <mat-slide-toggle [checked]="loadSessionModalOpened" (change)="onLoadSessionToggle($event)">Load previous Session</mat-slide-toggle>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-description>
                     System Message                  
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-slide-toggle class="sys-setting-field"[checked]="false" value="editSysMsgEnabled" (change)="onEditSystemMessageToggle($event)">Edit System Message</mat-slide-toggle>
              <mat-slide-toggle *ngIf="currentSession === null" class="sys-setting-field"[checked]="loadProfileModalOpened" (change)="onLoadProfileToggle($event)">From profile</mat-slide-toggle>
              <mat-slide-toggle *ngIf="currentSession !== null" class="sys-setting-field"[checked]="saveProfileModalOpened" (change)="onSaveCurrentAsProfileToggle($event)">To profile</mat-slide-toggle>
              <button class="sys-setting-field" style="float: right;" mat-raised-button [disabled]="!editSysMsgEnabled" (click)="onUpdateSysMsg()">Update</button>
              <mat-checkbox *ngIf="!editSysMsgEnabled && currentSession !== null && originalSysMsg != currentSysMsg && currentTab === 'System message'" class="sys-setting-field" style="float: right;" (change)="onShowOriginalSysMsg($event)">Show Original</mat-checkbox>
            </mat-expansion-panel>
            </mat-expansion-panel>
            <div class="w-100 h-100 shadow">
                <app-header-navbar #navTabs class="shadow" [config]="headBarConfig" [height]="'85px'" [withLogo]="false" (onTabClicked)="onMenuTabClick($event)"></app-header-navbar>
                <mat-divider vertical="false"></mat-divider>
            </div>
        </mat-accordion>
        <div *ngIf="currentTab === 'System message'">
          <textarea #sysmsgbox [disabled]="!editSysMsgEnabled" rows="33" cols="130" class="text-area" placeholder="Enable the toggle in the settings tab to edit and press the UPDATE button...changes will be lost on toggle-off">{{currentSysMsg}}</textarea>
        </div>
        <div *ngIf="currentTab === 'Chat'">
          <textarea #chatbox readonly rows="26" cols="130" class="text-area" [scrollTop]="chatbox.scrollHeight" placeholder="...">{{currentChatText}}</textarea>
          <textarea #promptbox rows="7" cols="130" class="text-area" placeholder="Enter text...">{{promptText}}</textarea>
          <form (submit)="$event.preventDefault()" style="display: flex; justify-content: center;">
            <button mat-raised-button class="submit-btn" [ngClass]="{'prompt-btn-disabled': isStreamingOn}" (click)="onUserPrompt()"[disabled]="currentTab === 'System message' && !editSysMsgEnabled || isStreamingOn">
              <div class="w-100 h-100 flex jc-center ai-center padding-6 absolute">
                <mat-spinner *ngIf="isStreamingOn" diameter="32"></mat-spinner>
              </div>
              <span>{{btnText}}</span>
            </button>
            <!-- <app-generic-button (onClick)="onUserPrompt()" [color]="secondary" [type]="'stroked'" [text]="btnText" [disabled]="currentTab === 'System message' && !editSysMsgEnabled" [loading]="true"></app-generic-button> -->
          </form>
        </div>
        
</div>


