<div class="dialog-container">
    <div style="display: flex; justify-content: center; padding: 0px; margin: 0px; height: 7vh;">
        <h4 mat-dialog-title>Character Details </h4>
    </div>
    <mat-dialog-content style="display: contents; justify-content: center; padding: 10px 15px 0px 15px; ">
        <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title class="game-card-title">Name: "{{data.name}}"</mat-card-title>
                <mat-card-subtitle class="game-card-subtitle">Age: "{{metadata.profile.age}}"</mat-card-subtitle>
              </mat-card-header>
            <div class="card-body">
                <img mat-card-image class="game-card-image" [src]="data.imageUrl" alt="Photo of a RandomWorlds character">
                <mat-card-content class="game-card-content">
                    
                  <p>
                    Appereance:<br> "{{metadata.profile.appereance}}""
                  </p>
                  <p>
                    Background:<br> "{{metadata.profile.background}}""
                  </p>
                  <p>
                    Personality:<br> "{{metadata.profile.personality}}""
                  </p>
                  <p>
                    Motivations:<br> "{{metadata.profile.motivations}}""
                  </p>
                  <p>
                    Iconic Moment:<br> "{{metadata.profile.iconicMoment}}""
                  </p>
                  <p>
                    Comment:<br> "{{metadata.profile.comment}}""
                  </p>
                  <!-- <p>
                    Ambiences:<br> "{{metadata.profile.ambiences}}""
                  </p>
                  <p>
                    Moods:<br> "{{metadata.profile.moods}}""
                  </p> -->
                </mat-card-content>
            </div>
          </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-stroked-button class="close-btn" mat-dialog-close>CLOSE</button>
    </mat-dialog-actions>
</div>