.card-container{
    display: flex !important;
    justify-content: center;
}

.game-card {
    width: 98%;
    height: 98%;
    margin: 12px 0px 0px 10px;
}

.game-card-image{
    border-radius: 15px !important;
    margin: 20px 7px 10px 7px;
    height: 70vh;
}
.game-card-content{
    color:#6b6b6c;
    font-size:12px;
    display: block;
    padding-top: 10px;
}
.begin-btn{
    width: 20%;
    color: #99c531 !important;
    border-color: rgb(175 239 24) !important;
}
.begin-btn:hover{
    width: 20%;
    color: #ffffff !important;
    border-color: rgb(245, 247, 243) !important;
    background-color: #99c531 !important;
}
.game-card-actions{
    justify-content: center;
    align-items: center;
}

.game-card-title{
    color:#99c531;
}
.game-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 300;
}

.card-body{
    display: flex;
}

.dialog-container{
  overflow-y: hidden;
}

.close-btn{
    width: 20%;
    color: #99c531 !important;
    border-color: rgb(175 239 24) !important;
}
.close-btn:hover{
    width: 20%;
    color: #ffffff !important;
    border-color: rgb(245, 247, 243) !important;
    background-color: #99c531 !important;
}

.header-titles{
    width: 40%;
    padding-top: 5px;
}
.header-data{
    font-size: 14px;
    width: 40%;
    padding-top: 5px;
    padding-left: 7px;
    font-weight: 300;
}
.header-contract-data{
    font-size:14px;
    width: 20%;
    padding-top: 5px;
    text-align: end;
    font-weight: 500;
}