.home-img{
    width: 40%;
    height: 40%;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}
.img-container{
    width: 90%;
    height: 70%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    display: flex !important;
    justify-content: right;
}
.card-container{
    display: flex !important;
    justify-content: center;
}