.home-img{
    width: 40%;
    height: 40%;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}
.img-container{
    width: 90%;
    height: 100%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    display: flex !important;
    justify-content: right;
    min-height: 87.5vh;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex !important;
    justify-content: center;
}

.game-card {
    max-width: 40%;
    margin: 0px 50px 0px 50px;
  }
  
.game-card-header-image-l {
    background-image: url('/assets/images/City_1.png');
    background-size: cover;
  }

.game-card-header-image-r {
    background-image: url('/assets/images/City_2.png');
    background-size: cover;
  }

  .game-card-image{
    margin:3px 7px 15px 7px
  }
.game-card-content{
    color:#6b6b6c;
    font-size:13px;
}
.begin-btn{
    width: 20%;
    color: #99c531 !important;
    border-color: rgb(175 239 24) !important;
}
.begin-btn:hover{
    width: 20%;
    color: #ffffff !important;
    border-color: rgb(245, 247, 243) !important;
    background-color: #99c531 !important;
}
.game-card-actions{
    justify-content: center;
    align-items: center;
}

.game-card-title{
    color:#99c531;
}
.game-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 300;
}