<div class="w-100 h-100 jc-center ai-center">
    <div class="box-login flex">
        <div class="h-100 flex-2 flex column jc-center ai-center bg-img"></div>
        <div class="flex-0 flex column jc-start padding-30">
            <app-rounded-button 
                        [id]="'mm-login'"
                        [iconName]=""
                        [bgImageIcon]="'url(assets/images/MetamaskIconBrown.png)'"
                        [backgroundColor]="'#8b986c'"
                        [hoverColor]="'var(--primary-btn-hover)'"
                        [borderColor]="'var(--primary-btn-border)'"
                        [disabled]="working"
                        (onClickEvent)="onMetamaskLogin()"
                        >
                    </app-rounded-button>
        </div>
        
    </div>
</div>
