:host{
  display:block;
  width: 40vw;
  height: 70vh;
}

.tab-screen{
  min-height: 100px;
  height: 100%;
}

.tabs-dialog-content{
  display:flex;
  min-width: 100%;
  height:100%;
  overflow:hidden;
}

.dialog-tabs{
  min-width:100%;
  min-height:100%;
}

.char-tab-container{
  display: flex;
  width: 100%;
  height: 100%;
}
.image-container{
  margin: 15px 15px 15px 15px;
  border-radius: 15px;
  display: flex;
}
.char-image{
  border-radius: 15px;
}
.inputs-container{
  display: block;
  width:100%;
  flex-direction: column;
}
.first-traits-row{
  display: flex;
  width: 100%;
}
.second-traits-row{
  display: flex;
  width: 100%;
}
.toggles-box{
  display:block;
  width:40%;
}
.displayed-panel{
  height: 100%;
  margin: 5px 5px 5px 5px;
}