<div style="margin: 1px 1px 1px 1px; background-color: #2b0c29; border-radius: 7px;">
    <h3 class="jc-center" style="display: flex; color: antiquewhite; margin-top: 3px;" mat-dialog-title>Review Chat</h3>
    <!-- <div class="jc-center" style="display: block;padding: 0px 180px 0px 180px; margin: 0px 10px 0px 10px;">
        
    </div> -->
    <mat-accordion multi>
        <mat-expansion-panel (opened)="onExpanded()" (closed)="onCollapsed()" [expanded]="showParams">
            <mat-expansion-panel-header>
                <mat-panel-description>
                    {{data.model}} - {{data.tag}} / Session ID: {{sessionId}}             
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: flex;">
                <mat-form-field class="modal-control">
                    <mat-label>Username</mat-label>
                    <input #usernameInput type="text" matInput  [(ngModel)]="username" [disabled]="!isEditing">
                </mat-form-field>
                <mat-form-field class="modal-control">
                    <mat-label>Tag</mat-label>
                    <input #tagInput type="text" matInput  [(ngModel)]="messageTag" [disabled]="!isEditing">
                </mat-form-field>
                  
                  <div style="width: 45%;">
                    <app-search-input #sessionsInput class="modal-control" [config]="searchConfig" (onValueSelected)="onSessionSelected($event)" [disabled]="!isEditing"></app-search-input>
                    
                  </div>
                  <mat-slide-toggle class="edit-toggle" [checked]="false" value="isEditing" (change)="onEditToggle($event)">Edit Document</mat-slide-toggle>
            </div>
            
        </mat-expansion-panel>
    </mat-accordion>
    <div class="w-100 h-100 shadow">
        <app-header-navbar #navTabs class="shadow" [config]="headBarConfig" [height]="'85px'" [withLogo]="false" (onTabClicked)="onMenuTabClick($event)"></app-header-navbar>
        <mat-divider vertical="false"></mat-divider>
    </div>
    <div *ngIf="currentTab === 'System message'">
        <textarea #sysmsgbox [disabled]="!isEditing" rows="26" cols="130" class="text-area" placeholder="...">{{systemMessage}}</textarea>
      </div>
      <div *ngIf="currentTab === 'Chat'">
        <textarea #chatbox [disabled]="!isEditing" rows="26" cols="130" class="text-area" placeholder="...">{{currentChatText}}</textarea>
      </div>
    <mat-dialog-actions align="center">
    <button  mat-button mat-dialog-close>Close</button>
    <button class="modal-btn" 
            mat-button 
            (click)="submit()" 
            [ngClass]="{'disabled-btn': !isEditing }"
            [disabled]="!isEditing " >Update
    </button>
    </mat-dialog-actions>    
</div>
