

.collection-card-title{
    color:#99c531;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.collection-card-subtitle{
    font-style: oblique;
    color: #c3c3c5;
    font-weight: 100;
    font-size: 11px;
    padding: 0px 15px 0px 15px;
}
.collection-card-content{
    margin: 5px 2px 5px 2px;
    color: #99c531;
    font-weight: 200;
    font-size: 14px;
}
.payment-card-content{
    margin: 5px 2px 5px 2px;
    color: #99c531;
    font-weight: 200;
    font-size: 14px;
    display:flex;
    flex-direction: column;
}

.lockedchar-card-content{
    margin: 5px 2px 5px 2px;
    color: #99c531;
    font-weight: 200;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    h5 {
        display: flex;
        justify-content: center;
    }
}

.sidenav-div{
    .mat-drawer-container{
        background-color: transparent;
    }
}
.sidenav-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.view-cols-btn{
    height: 5%;
    margin:0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(175 239 24) !important;
}

.view-cols-btn:hover{
    border: transparent;
    border-radius: 100px;
    padding:3px 7px 3px 7px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}
.close-sidenav-btn{
    height: 5%;
    margin:0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(175 239 24) !important;
}

.close-sidenav-btn:hover{
    border: transparent;
    border-radius: 100px;
    padding:3px 7px 3px 7px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}
.buy-btn{
    margin: 0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(239, 217, 24) !important;
    }
    
.buy-btn:hover{
    border: transparent;
    border-radius: 100px;
    background-color: #dbbd0e;
    .mat-icon{
        color: #ffffff !important;
    }
}
.col-title{
    color: #99c531;
    font-weight: 500;
    padding-bottom: 10px;
}
.col-subtitle{
    font-size: 12px;
    font-style: italic;
    color: #a3a3a3;
    font-weight: 300;
    display: contents;
}
.sidenav{
    width: 28%;
    padding-right: 25px;
    padding-left: 25px;
}
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .col-sel-div{
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

.col-sel-btn{
    height: 59%;
    margin:0px 10px 0px 10px;
    border-radius: 100px;
    background-color: #ffffff;
    border-color: rgb(175 239 24) !important;
}

.col-sel-btn:hover{
    border: transparent;
    border-radius: 100px;
    padding:0px 8px 0px 8px;
    background-color: #99c531;
    color: #ffffff;
    .mat-icon{
        color: #ffffff !important;
    }
}

.invisible-btn{
    margin:0px 10px 0px 10px;
    color: transparent !important;
    border-radius: 100px;
    background-color: transparent;
    border-color: transparent !important;
}
