  <div class="sidenav-div">
    <mat-sidenav-container class="sidenav-container" (backdropClick)="closeSidenav()">
        <mat-sidenav #sidenav (keydown.escape)="closeSidenav()" disableClose class="sidenav">
            
                <p style="display: flex; align-items: center; justify-content:center; margin:15px 25px 15px 0px">
                    <button class="close-sidenav-btn" (click)="closeSidenav()">
                        <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                            aria-hidden="false" 
                            aria-label="Collections sidenav view"
                            fontIcon="keyboard_arrow_left"></mat-icon>
                    </button>
                </p>
                <mat-accordion class="example-headers-align">
                    @for(collection of collections; track collection){
                        <mat-expansion-panel  [expanded]="currentCollection.summary.contractAddress === collection.summary.contractAddress" (opened)="setStep(collection)" hideToggle>
                            <mat-expansion-panel-header [collapsedHeight]="'10%'" [expandedHeight]="'10%'" style="padding: 0px 0px 0px 0px !important">
                              <div style="display: block; width: 80%; margin: 15px 10px 5px 15px">
                                  <mat-panel-title class="col-title"> {{collection.summary.name}} </mat-panel-title>
                                  <mat-panel-description class="col-subtitle">
                                      <p style="margin: 0 0 5px !important;">{{collection.summary.symbol}} - {{collection.summary.tokenName}}</p>
                                      <p style="margin: 0 0 5px !important;">{{collection.summary.contractAddress}}</p>
                                      <p style="margin: 0 0 5px !important;">Total assets: {{collection.assets.length}}</p>
                                  </mat-panel-description>
                              </div>
                              <img style="width: 25%; margin: 5px 5px 5px 5px; padding-top: 5px; padding-bottom: 5px; border-radius: 15px !important;" [src]="currentCollection.summary.logoImage" alt="Photo of a Shiba Inu">
                            </mat-expansion-panel-header>
                            <div style="display: flex;">
                              <div style="width: 75%;">
                                  <p style="color: #99c531; padding-top: 15px;">{{collection.summary.description}}</p>
                              </div>
                              <div class="col-sel-div">
                                  <button class="col-sel-btn" (click)="onViewCollectionClick(collection.summary.contractAddress)">
                                      <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                                          aria-hidden="false" 
                                          aria-label="Collections sidenav view"
                                          fontIcon="content_paste"></mat-icon>
                                  </button>
                              </div>
                            </div>
                          </mat-expansion-panel>
                    }
                  </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="card-container">
                <p style="display: flex; align-items: start; margin:15px 25px 0px 0px"><button class="view-cols-btn" (click)="sidenav.open()">
                    <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                    aria-hidden="false" 
                    aria-label="Collections sidenav view"
                    fontIcon="keyboard_arrow_right"
                    ></mat-icon>
                 </button></p>
                <div class="img-container shadow" [ngClass]="{'jc-center': currentCollection.assets.length <= 4}">
                    @for(model of currentCollection.assets; track model){
                        <mat-card class="game-card" appearance="outlined">
                            <mat-card-header class="card-header">
                                <div style="display: flex; align-items: center; justify-items: flex-start;">
                                    <div mat-card-avatar class="game-card-header-image" [ngStyle]="{'background-image': currentCollectionLogoUrl}"></div>
                                </div>
                                <div style="display: flexbox; align-items: center;">
                                    <mat-card-title class="game-card-title">{{model.name}}</mat-card-title>
                                    <mat-card-subtitle class="game-card-subtitle">{{model.description}}</mat-card-subtitle>
                                </div>
                            </mat-card-header>
                            <div class="card-body">
                                <img mat-card-image class="game-card-image" [src]="model.imageUrl" alt="Character NFT image">
                            </div>
                            <mat-card-actions class="game-card-actions">
                        
                             <button class="view-btn" (click)="onViewClick(model)">
                                <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                                aria-hidden="false" 
                                aria-label="Example power icon"
                                fontIcon="visibility"
                                ></mat-icon>
                             </button>
                             <button [disabled]="loading" class="buy-btn" [matMenuTriggerFor]="payMenu" (click)="onSellClick(model)">
                                <mat-icon *ngIf="!loading" style="margin-top: 6px; font-size: 20px !important; color: #dbbd0e;"
                                aria-hidden="false" 
                                aria-label="Example power icon"
                                fontIcon="shopping_cart"
                                ></mat-icon>
                                <div *ngIf="loading" style="margin: 6px 2px;">
                                  <mat-spinner diameter="20"></mat-spinner>
                                </div>
                             </button>
                             <!-- <mat-menu #colMenu="matMenu" yPosition="above" xPosition="after">
                                <mat-card class="collection-card" appearance="outlined">
                                    <mat-card-header style="display: flex; justify-content: center; align-items: start; padding: 5px 0px 0;">
                                      <mat-card-title class="collection-card-title">{{model.collectionName}} ({{model.collectionSymbol}})</mat-card-title>
                                      <mat-card-subtitle class="collection-card-subtitle">{{model.tokenAddress}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <img mat-card-image [src]="model.collectionUrl" alt="Photo of a Shiba Inu">
                                    <mat-card-content class="collection-card-content">
                                      <p>
                                        {{currentCollection.summary.description}}
                                      </p>
                                    </mat-card-content>
                                  </mat-card>
                            </mat-menu> -->
                            <mat-menu #payMenu="matMenu" yPosition="above" xPosition="after">
                              <mat-card class="collection-card" style="margin: 0px 5px" appearance="outlined">
                                  <mat-card-header style="display: flex; justify-content: center; align-items: start; padding: 5px 0px 0;">
                                    <mat-card-title class="collection-card-title">{{model.name}}</mat-card-title>
                                    <mat-card-subtitle class="collection-card-subtitle">{{model.collectionName}}</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="payment-card-content">
                                   
                                  </mat-card-content>
                                  <mat-card-actions style="display: flex; justify-content: center;">
                                    <button mat-stroked-button class="pay-btn" (click)="onSellClick(model)">SELL</button>
                                  </mat-card-actions>
                                </mat-card>
                          </mat-menu>
                            </mat-card-actions>
                        </mat-card>
                    }
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
