  <div class="sidenav-div">
    <mat-sidenav-container class="sidenav-container" (backdropClick)="closeSidenav()">
        <mat-sidenav #sidenav (keydown.escape)="closeSidenav()" disableClose class="sidenav">
                <div style="display: flex; align-items: center; justify-content:center; margin:15px 25px 15px 0px">
                    <button class="close-sidenav-btn" (click)="closeSidenav()">
                        <mat-icon style="margin-top: 6px; font-size: 20px !important; color: #99c531;"
                            aria-hidden="false" 
                            aria-label="Collections sidenav view"
                            fontIcon="keyboard_arrow_left"></mat-icon>
                    </button>
                </div>
                <mat-accordion class="example-headers-align">
                    @if(customCharsCollection) {
                        <ng-container *ngTemplateOutlet="collectionsInfo; context:{
                            expanded: selectedContractAddress() === customCharsCollection.contractAddress,
                            name: customCharsCollection.name,
                            token: null,
                            symbol: customCharsCollection.symbol,
                            address: customCharsCollection.contractAddress,
                            description: 'Collection of minted custom characters',
                            total: -1,
                            image: defaultLogoUrl,
                            item: customCharsCollection,
                            open: selectCustomCharsCollection
                          }">
                        </ng-container>
                    }
                    @for(collection of collections; track collection){
                        <ng-container *ngTemplateOutlet="collectionsInfo; context:{
                        expanded: selectedContractAddress() === collection.summary.address,
                        name: collection.summary.name,
                        token: collection.summary.tokenName,
                        symbol: collection.summary.symbol,
                        address: collection.summary.address,
                        description: collection.summary.description,
                        total: collection.assets.length,
                        image: imageWithEndpointReplace(collection.summary.logoImage, 'IPFS', 'ALCHEMY'),
                        item: collection,
                        open: selectCollection
                        }">
                        </ng-container>
                    }
                  </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-nft-visor
                [assets]=displayedAssets()
                [nftCardButtonsConfig]="nftCardButtonsConfig"
                [disabled]="loading" 
                [onCardBtnChange]="onCardBtnChange"
                (onCardButtonClick)="onCardButtonClicked($event)"
                (onVisualizationChange)="onVisorTypeChange($event)"
                [projectedButtonsTemplate]="[sellButton, lockButton]">
                <ng-template #sellButton let-model="model">  
                    <app-rounded-button [matMenuTriggerFor]="(model.isInGame ? null :payMenu)" 
                                [id]="'sell'"
                                [iconName]="'payment'"
                                [hoverColor]="'var(--secondary-btn-hover)'"
                                [borderColor]="'var(--secondary-btn-border)'"
                                [disabled]="loading || model.isInGame"
                                >
                    </app-rounded-button>
                    <mat-menu #payMenu="matMenu" yPosition="above" xPosition="after">
                        <mat-card class="collection-card" style="margin: 0px 5px" appearance="outlined">
                            <mat-card-header style="display: flex; justify-content: center; align-items: start; padding: 5px 0px 0;">
                                <mat-card-title class="collection-card-title">{{model.collection}}</mat-card-title>
                                <mat-card-subtitle class="collection-card-subtitle">{{model.contractAddress}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="payment-card-content"></mat-card-content>
                            <mat-card-actions style="display: flex; justify-content: center;">
                                <button mat-stroked-button class="pay-btn" (click)="onSellClick(model)">SELL</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-menu>
                </ng-template>
                <ng-template #lockButton let-model="model"> 
                    @if(model.isLocked){
                        <app-rounded-button [matMenuTriggerFor]="unlockMenu"
                                [id]="'unlock'"
                                [iconName]="'lock'"
                                [hoverColor]="'red'"
                                [borderColor]="'red'"
                                [disabled]="loading"
                                >
                        </app-rounded-button>
                        <mat-menu #unlockMenu="matMenu" yPosition="above" xPosition="after">
                            <mat-card style="margin: 0px 5px" appearance="outlined">
                                <mat-card-header style="display: flex; justify-content: center; align-items: start; padding: 5px 0px 0;">
                                    <mat-card-title class="collection-card-title">{{model.collection}}</mat-card-title>
                                    <mat-card-subtitle class="collection-card-subtitle">{{model.contractAddress}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content class="lockedchar-card-content">
                                    @if(model.isInGame){
                                        <h5>Character is currently in game</h5>
                                    }
                                    @else{
                                        <h5>Character is recovering. Locked until {{model.lockedUntil}}</h5>
                                    }
                                </mat-card-content>
                                <mat-card-actions style="display: flex; justify-content: center;">
                                    <button mat-stroked-button class="pay-btn" (click)="onUnlockAssetClick(model)">{{model.isInGame ? 'ABANDON' : 'UNLOCK'}}</button>
                                    <button *ngIf="model.isInGame" mat-stroked-button class="pay-btn" (click)="onCardSelected(model)"> CONTINUE </button>
                                </mat-card-actions>
                            </mat-card>
                        </mat-menu>
                    }
                </ng-template>
                <ng-container class="upper-buttons-l">
                    <div style="display: grid">
                        <app-rounded-button 
                            [id]="'view-cols'"
                            [iconName]="'skip_next'"
                            [hoverColor]="'var(--terciary-btn-hover)'"
                            [borderColor]="'var(--terciary-btn-border)'"
                            [disabled]="loading"
                            (onClickEvent)="sidenav.open()">
                        </app-rounded-button>
                        <app-rounded-button 
                            [id]="'view-cols'"
                            [iconName]="'android'"
                            [hoverColor]="'var(--terciary-btn-hover)'"
                            [borderColor]="'var(--terciary-btn-border)'"
                            [disabled]="loading"
                            (onClickEvent)="onCreateCharacterClick()">
                        </app-rounded-button>
                    </div>
                </ng-container>
            </app-nft-visor>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <ng-template #collectionsInfo let-expanded="expanded" let-name="name" let-symbol="symbol" let-token="token" let-address="address" let-description="description" let-total="total" let-image="image" let-item="item" let-open="open">
    <mat-expansion-panel style="margin: 7px 0px 7px 0px;"  [expanded]="expanded" (opened)="open(item)" hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'10%'" [expandedHeight]="'10%'" style="padding: 0px 0px 0px 0px !important">
            <div style="display: block; width: 80%; margin: 15px 10px 5px 15px">
                <mat-panel-title class="col-title"> {{name}} </mat-panel-title>
                <mat-panel-description class="col-subtitle">
                    <p *ngIf="token !== null" style="margin: 0 0 5px !important;">{{symbol}} - {{token}}</p>
                    <p style="margin: 0 0 5px !important;">{{symbol}}</p>
                    <p style="margin: 0 0 5px !important;">{{address}}</p>
                    <p *ngIf="total > 0" style="margin: 0 0 5px !important;">Total assets: {{total}}</p>
                </mat-panel-description>
            </div>
            <img style="width: 25%; margin: 5px 5px 5px 5px; padding-top: 5px; padding-bottom: 5px; border-radius: 15px !important;" [src]="image" alt="Collection logo">
        </mat-expansion-panel-header>
        <div style="display: flex;">
            <div style="width: 75%;">
                <p style="color: #99c531; padding-top: 15px;">{{description}}</p>
            </div>
            <div class="col-sel-div">
                <app-rounded-button 
                    style="margin-left:9px"
                    [id]="'view_collection'"
                    [iconName]="'content_paste'"
                    [size]="'35px'"
                    [hoverColor]="'var(--terciary-btn-hover)'"
                    [borderColor]="'var(--terciary-btn-border)'"
                    (click)="onViewCollectionClick(address)">
                </app-rounded-button>
            </div>
        </div>
        </mat-expansion-panel>
  </ng-template>
