<div class="card-container">
    <div class="img-container shadow">
        <div class="background-img"></div>
        <mat-card class="game-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="game-card-header-image"></div>
              <mat-card-title class="game-card-title">World Generator </mat-card-title>
              <mat-card-subtitle class="game-card-subtitle">Generate a universe for your {{gameType}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="game-card-content">
              <mat-accordion multi="false">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bayaz, el Primero de los Magos
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: center;">
                      Story setup
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                    <form [formGroup]="form">

                      <mat-form-field class="form-control">
                        <mat-label>Story Genre</mat-label>
                        <mat-chip-grid #genreChipGrid aria-label="Genre selection">
                          @for (genre of selectedGenres; track genre) {
                            <mat-chip-row (removed)="removeGenre(genre)">
                              {{genre}}
                              <button matChipRemove [attr.aria-label]="'removeGenre ' + genre">
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip-row>
                          }
                        </mat-chip-grid>
                        <input placeholder="Add Genre..." #genreInput formControlName="genre"
                          [matChipInputFor]="genreChipGrid" [matAutocomplete]="auto"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="addGenre($event)"/>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="genreSelected($event)">
                          @for (genre of filteredGenres; track genre) {
                            <mat-option [value]="genre">{{genre}}</mat-option>
                          }
                        </mat-autocomplete>  
                      </mat-form-field>
                      <mat-form-field class="form-control">
                        <mat-label>World Ambience</mat-label>
                        <mat-chip-grid #ambienceChipGrid aria-label="Ambience selection">
                          @for (ambience of selectedAmbiences; track ambience) {
                            <mat-chip-row (removed)="removeAmbience(ambience)">
                              {{ambience}}
                              <button matChipRemove [attr.aria-label]="'removeAmbience ' + ambience">
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip-row>
                          }
                        </mat-chip-grid>
                        <input placeholder="Add Ambience..." #ambienceInput formControlName="ambience"
                          [matChipInputFor]="ambienceChipGrid" [matAutocomplete]="auto"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="addAmbience($event)"/>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ambienceSelected($event)">
                          @for (ambience of filteredAmbiences; track ambience) {
                            <mat-option [value]="ambience">{{ambience}}</mat-option>
                          }
                        </mat-autocomplete>  
                      </mat-form-field> 
                        <!--<mat-form-field class="form-control">
                            <mat-label>Genres</mat-label>
                            <input matInput type="text" [disabled]="true" formControlName="genres"/>
                        </mat-form-field> -->
                    </form>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="height: 35px;">
                          <mat-panel-description style="justify-content: center;">
                            Plot suggestion
                          </mat-panel-description>
                        </mat-expansion-panel-header>       
                            <mat-form-field class="form-control" style="width: 100%;">
                                <mat-label>Plot</mat-label>
                                <input matInput type="text" formControlName="plot" max="20"/>
                            </mat-form-field>
                      </mat-expansion-panel>
                </mat-expansion-panel>
              </mat-accordion>  
                <div class="text-container">
                    <textarea *ngIf="false" class="text-area"></textarea>
                </div>
            </mat-card-content>
            <mat-card-actions class="game-card-actions">
              <button mat-stroked-button class="begin-btn" (click)="onGenerateClick()">GENERATE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>


